
<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-3 sticky-top fixed-top">
  <div class="container">
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Company</a>
           <ul class="dropdown-menu bg-white">
           <li><a class="dropdown-item" href="#"> About</a></li>
           <li><a class="dropdown-item" href="#"> Employees </a></li>
           </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Categories</a>
           <ul class="dropdown-menu bg-white">
           <li><a class="dropdown-item " href="#">Laptop</a></li>
           <li><a class="dropdown-item" href="#">Mouse</a></li>
           <li><a class="dropdown-item" href="#">Keyboard </a></li>
           </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link active">Contact</a></li>
    </ul>
</div>
</div>
</nav>